
.para1{
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif,Arial, Helvetica, sans-serif;
    font-family: 'Oswald', sans-serif;
}

.list1{
    list-style-type: disc;
}

.list2{
    list-style-type: upper-alpha;
}
.nested2{
list-style-type: lower-roman;
}
table,th,tr,td{    
    border: 2px black solid;
    
}
.table1{
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: lightblue;
    width: 400px;
}

.firstDiv{
    display: inline;
    border: 4px solid green;
    margin: 4px 10px 2px 15px; /*vertical margin is not applied since it is display as inline*/
    width: 500px; /*Height and width also not getting applied as it is displayed as inline*/
    height: 100px;
    padding: 2px 4px 6px 10px; /*padding got applied*/
}
.testdiv{
    margin: 10px;
}
.span1{
    display:block;
    margin-top: 20px;
    border: 4px solid red;
    width: 500px; /*Height and width getting applied as it is displayed as block*/
    height: 100px;
}

.blockDiv {
    display: inline-block;
    margin: 20px 10px 4px 15px;
    border: 4px solid blue;
    width: 100px;
    height: 50px;
}

.noneDiv{
    display: none; /*Not getting displayed*/
}

.RelDiv{
    position: relative;
    border: 4px solid gray;
    top: 50px;
    left: 50px;
    height: 100px;
    width: 300px;
}

.absDiv{
    position: absolute;
    margin-top: 800px; /*Margin applied since it is covering other contents on the page*/
    margin-left: 200px;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 100px;
    border: 3px solid brown;
}

header{
    position: fixed;
    top:0;    
    right:400px;
    left:400px;
    width: 400px;
    height: 20px;
    border: 3px solid darkorange;
    background-color: antiquewhite;
    text-align: center;;
  }
  .overDiv{
      border: 2px solid darkgreen;
      width: 200px;
      height: 100px;
      overflow: scroll;
      margin-top: 100px;
      color: red;
  }

  .fldiv{
      float: right;
      margin: 10px;
      padding: 2px;
      width: 200px;
      height: 50px;
      border: 2px solid peru;
  }

  .fldiv2{
    margin: 10px;
    border: 2px solid forestgreen;
    width: 200px;
    height: 50px;
    float: left;
  }
  .fldiv3{
    margin: 10px;
    border: 2px solid forestgreen;
    width: 200px;
    height: 50px;
    float: right;
  }

  .betFloat{
    float: none;
    display:inline-block;     
    border: 2px solid slateblue;    
    width: 200px;
    height: 50px;
  }

  .adjacent{
    color: black;
    font-size: 20px;
    border: 2px red ridge;
    margin: 10px;
    padding: 5px;
}

  .adjacent p {
      color: crimson;
      font-size: 20px;
  }

  .adjacent > p {
      background-color: yellow;
  }

  .adjacent + span {
    background-color: pink;
    font-size: 30px;
}

.adjacent ~ span {
    background-color:lightskyblue;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}